@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
    background: #e0e0e0;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1200px;
    padding: 20px;
}

.phone-details {
    max-width: 800px;
    height: auto;
    border: 3px solid gray;
    display: flex;
}
.phone-info {
    padding: 14px 0 14px 20px;
    flex: 1.1;
}
.phone-functions {
    flex: 1;
    border-left: 2px solid gray;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    margin: 10px;
}
.glyphicon {
    padding-right: 5px;
}

.actions {
    padding-top: 5px;
}

@media(max-width: 480px){
    .phone-details {
        flex-direction: column;
    }
}